# Ignore requirements
/requires
/tests/casal*

# Ignore outputs
/output

# Ignore compiled files
*.o
*.exe
*.debug
*.prof

# Ignore coverage files
*.gcno
*.gcda
*.gcov

# Ignore editor/IDE files
*.sublime-*